/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// same as 'html' selector but with higher specificity
// Custom CSS properties; act like 'variables'
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}

// SASS variables
$bp-largest: 81.25em; //1300px
$bp-large: 68.75em;   //1100px
$bp-medium: 59.375em; //950px
$bp-small: 45em; //720px
$bp-extra-small: 37.5em; //600px
$bp-500: 31.25em; //500px
$bp-370: 23.125em; //370px
$bp-325: 20.3125em; //325px


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 62.5% == 10px ; 1rem == 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // decreasing global font size @ 1100px
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 42%; // decreasing global font size @ 720px
  }

  //@media only screen and (max-width: $bp-370) {
  //  font-size: 37%; // decreasing global font size @ 370px
  //}
  //
  //@media only screen and (max-width: $bp-325) {
  //  font-size: 34%; // decreasing global font size @ 325px
  //}
}

body {
  background-color: #eb2f64;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

::selection {
  background-color: var(--color-primary-light);
  color: #fff;
}