<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="shortcut icon" type="image/png" href="images/logo.png">

  <title>Trillo &mdash; Your all-in-one booking app</title>
</head>
<body>

<div class="container">

  <header class="header">
    <img src="images/logo.png" alt="" class="logo">

    <form action="#" class="search">
      <input type="text" class="search__input" placeholder="Search hotels">
      <button class="search__button">
        <svg class="search__icon">
          <use xlink:href="images/sprite.svg#icon-magnifying-glass"></use>
        </svg>
      </button>

      <div class="suggestions">
        <ul class="suggestions__list">

          <li class="suggestions__item">
            <img src="images/hotel-1.jpg" alt="Hotel 1" class="suggestions__photo">
            <div class="suggestions__item-box">
              <h3 class="suggestions__name">Hotel Las Palmas</h3>
              <p class="suggestions__location">Albufeira, Portugal</p>

              <div class="suggestions__stars">
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
            <div class="suggestions__rating">4.8</div>
          </li>

          <li class="suggestions__item">
            <img src="images/hotel-2.jpg" alt="Hotel 2" class="suggestions__photo">
            <div class="suggestions__item-box">
              <h3 class="suggestions__name">Hotel Riviera</h3>
              <p class="suggestions__location">Portoroz, Slovenia</p>

              <div class="suggestions__stars">
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
            <div class="suggestions__rating">4.7</div>
          </li>

          <li class="suggestions__item">
            <img src="images/hotel-3.jpg" alt="Hotel 3" class="suggestions__photo">
            <div class="suggestions__item-box">
              <h3 class="suggestions__name">Hotel Maria Cristina</h3>
              <p class="suggestions__location">San Sebastian, Spain</p>

              <div class="suggestions__stars">
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
                <svg class="suggestions__icon-star">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
            <div class="suggestions__rating">5.0</div>
          </li>

        </ul>
      </div>
    </form>



    <nav class="user-nav">

      <div class="user-nav__icon-box user-nav__alerts">
        <svg class="user-nav__icon">
          <use xlink:href="images/sprite.svg#icon-bell"></use>
        </svg>
        <span class="user-nav__notification">7</span>

        <div class="alerts">
          <ul class="alerts__list">

            <li class="alerts__item">
              <a href="#" class="alerts__link">
                <svg class="alerts__icon">
                  <use xlink:href="images/sprite.svg#icon-bookmark"></use>
                </svg>
                <p class="alerts__text">
                  A friend of yours just booked a room!
                </p>
              </a>
            </li>

            <li class="alerts__item">
              <a href="#" class="alerts__link">
                <svg class="alerts__icon">
                  <use xlink:href="images/sprite.svg#icon-bookmark"></use>
                </svg>
                <p class="alerts__text">
                  One of your recent bookings has been updated!
                </p>
              </a>
            </li>

            <li class="alerts__item">
              <a href="#" class="alerts__link">
                <svg class="alerts__icon">
                  <use xlink:href="images/sprite.svg#icon-bookmark"></use>
                </svg>
                <p class="alerts__text">
                  A special offer just for you!
                </p>
              </a>
            </li>
            <li class="alerts__item alerts__button">
              <button class="btn-inline">Show all <span>&rarr;</span></button>
            </li>

          </ul>
        </div>

      </div>

      <div class="user-nav__icon-box user-nav__message-icon">
        <svg class="user-nav__icon">
          <use xlink:href="images/sprite.svg#icon-chat"></use>
        </svg>
        <span class="user-nav__notification">13</span>

        <div class="chat">
          <ul class="chat__list">

            <li class="chat__item">
              <img src="images/user-3.jpg" alt="chat photo 1" class="chat__photo">
              <div class="chat__box">
                <div class="chat__info">
                  <p class="chat__user-name">
                    Steve Perry
                  </p>
                  <p class="chat__timestamp">
                    18:21, 7/2/2019
                  </p>
                </div>
                <p class="chat__preview">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                </p>
              </div>
            </li>

            <li class="chat__item">
              <img src="images/user-4.jpg" alt="chat photo 2" class="chat__photo">
              <div class="chat__box">
                <div class="chat__info">
                  <p class="chat__user-name">
                    Thomas Dunlap
                  </p>
                  <p class="chat__timestamp">
                    16:26, 7/2/2019
                  </p>
                </div>
                <p class="chat__preview">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                </p>
              </div>
            </li>

            <li class="chat__item">
              <img src="images/user-6.jpg" alt="chat photo 1" class="chat__photo">
              <div class="chat__box">
                <div class="chat__info">
                  <p class="chat__user-name">
                    Lucy Graves
                  </p>
                  <p class="chat__timestamp">
                    8:28, 7/1/2019
                  </p>
                </div>
                <p class="chat__preview">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                </p>
              </div>
            </li>
            <li class="chat__item chat__button">
              <button class="btn-inline">Show all <span>&rarr;</span></button>
            </li>

          </ul>
        </div>

      </div>

      <div class="user-nav__user user-nav__settings">
        <img src="images/user.jpg" alt="User photo" class="user-nav__user-photo">
        <span class="user-nav__user-name">Kyle</span>

        <div class="settings">
          <ul class="settings__list">

            <li class="settings__item">
              <a href="#" class="settings__link">
                <svg class="settings__icon">
                  <use xlink:href="images/sprite.svg#icon-layers"></use>
                </svg>
                <span>My Bookings</span>
              </a>
            </li>

            <li class="settings__item">
              <a href="#" class="settings__link">
                <svg class="settings__icon">
                  <use xlink:href="images/sprite.svg#icon-new-message"></use>
                </svg>
                <span>My Reviews</span>
              </a>
            </li>

            <li class="settings__item">
              <a href="#" class="settings__link">
                <svg class="settings__icon">
                  <use xlink:href="images/sprite.svg#icon-users"></use>
                </svg>
                <span>My Friends</span>
              </a>
            </li>

            <li class="settings__item">
              <a href="#" class="settings__link">
                <svg class="settings__icon">
                  <use xlink:href="images/sprite.svg#icon-cog"></use>
                </svg>
                <span>Settings</span>
              </a>
            </li>


          </ul>
        </div>

      </div>
    </nav>
  </header>

  <div class="content">
    <nav class="sidebar">
      <ul class="side-nav">
        <li class="side-nav__item side-nav__item--active">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="images/sprite.svg#icon-home"></use>
            </svg>
            <span>Hotel</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="images/sprite.svg#icon-aircraft-take-off"></use>
            </svg>
            <span>Flight</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="images/sprite.svg#icon-key"></use>
            </svg>
            <span>Car Rental</span>
          </a>
        </li>

        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="images/sprite.svg#icon-map"></use>
            </svg>
            <span>Tours</span>
          </a>
        </li>
      </ul>

      <div class="legal">
        &copy; 2019 by Trillo. All rights reserved.
      </div>
    </nav>




    <main class="hotel-view">
      <div class="gallery">
        <figure class="gallery__item">
          <img src="images/hotel-1.jpg" alt="Photo of hotel 1" class="gallery__photo">
        </figure>

        <figure class="gallery__item">
          <img src="images/hotel-2.jpg" alt="Photo of hotel 2" class="gallery__photo">
        </figure>

        <figure class="gallery__item">
          <img src="images/hotel-3.jpg" alt="Photo of hotel 3" class="gallery__photo">
        </figure>
      </div>

      <div class="overview">
        <h1 class="overview__heading">
          Hotel Las Palmas
        </h1>

        <div class="overview__stars">
          <svg class="overview__icon-star">
            <use xlink:href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="images/sprite.svg#icon-star"></use>
          </svg>
        </div>

        <div class="overview__location">
          <svg class="overview__icon-location">
            <use xlink:href="images/sprite.svg#icon-location-pin"></use>
          </svg>
          <button class="btn-inline">Albufeira, Portugal</button>
        </div>

        <div class="overview__rating">
          <div class="overview__rating-average">4.8</div>
          <div class="overview__rating-count">429 votes</div>
        </div>
      </div>

      <div class="detail">
        <div class="description">
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim, itaque iusto magni odio placeat
            porro quae! Beatae deserunt eos explicabo, ipsum non vel voluptatibus?
          </p>
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias at, fugiat laudantium minus
            pariatur quam quisquam! Alias perferendis rerum vero?
          </p>
          <ul class="list">
            <li class="list__item">Close to the beach</li>
            <li class="list__item">Breakfast included</li>
            <li class="list__item">Free airport shuttle</li>
            <li class="list__item">Free wifi in all rooms</li>
            <li class="list__item">Air conditioning and heating</li>
            <li class="list__item">Pets allowed</li>
            <li class="list__item">We speak all languages</li>
            <li class="list__item">Perfect for families</li>
          </ul>

          <div class="recommend">
            <p class="recommend__count">
              Lucy and 3 other friends recommend this hotel.
            </p>
            <div class="recommend__friends">
              <img src="images/user-3.jpg" alt="Friend 1" class="recommend__photo">
              <img src="images/user-4.jpg" alt="Friend 1" class="recommend__photo">
              <img src="images/user-5.jpg" alt="Friend 1" class="recommend__photo">
              <img src="images/user-6.jpg" alt="Friend 1" class="recommend__photo">
            </div>
          </div>
        </div>
        

        
        <div class="user-reviews">
          <figure class="review">
            <blockquote class="review__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eveniet fugit iure iusto laudantium
              molestiae omnis quis repudiandae?.
            </blockquote>
            <figcaption class="review__user">
              <img src="images/user-1.jpg" alt="User 1" class="review__photo">
              <div class="review__user-box">
                <p class="review__user-name">Nick Smith</p>
                <p class="review__user-date">Feb 23rd, 2019</p>
              </div>
              <div class="review__rating">4.2</div>
            </figcaption>
          </figure>

          <figure class="review">
            <blockquote class="review__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deserunt dolorum earum maiores molestias
              perspiciatis qui quia suscipit.
            </blockquote>
            <figcaption class="review__user">
              <img src="images/user-2.jpg" alt="User 1" class="review__photo">
              <div class="review__user-box">
                <p class="review__user-name">Mary Thomas</p>
                <p class="review__user-date">May 8th, 2019</p>
              </div>
              <div class="review__rating">4.9</div>
            </figcaption>
          </figure>

          <button class="btn-inline">Show all <span>&rarr;</span></button>
        </div>
      </div>

      <div class="cta">
        <h2 class="cta__book-now">
          Good news! We have 4 available rooms for your selected dates!
        </h2>
        <button class="btn">
          <span class="btn__visible">Book now</span>
          <span class="btn__invisible">Only 4 rooms left</span>
        </button>
      </div>


    </main>
  </div>



</div>

</body>
</html>